attr==0.3.2
BeautifulSoup==3.2.2
brotli==1.1.0
brotlicffi==1.1.0.0
cchardet==2.1.7
chardet==5.2.0
ConfigParser==7.2.0
cryptography==46.0.3
cython==3.1.6
docutils==0.22.2
filelock==3.20.0
h2==4.3.0
html5lib==1.1
HTMLParser==0.0.2
ipython==9.6.0
ipywidgets==8.1.7
jnius==1.1.0
js==1.0
keyring==25.6.0
lxml_html_clean==0.4.3
protobuf==6.33.0
pyodide==0.0.2
pyOpenSSL==25.3.0
redis==7.0.1
simplejson==3.20.2
Sphinx==8.2.3
thread==2.0.5
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
zstandard==0.25.0
